<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>Title</title>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.1.3/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<script type="text/javascript">
    var server_host = "http://127.0.0.1:8080";

    function verification(obj, type) {
        var $tooltips = $('.js_tooltips');
        switch (type) {
            case 'studentId':
                var value = $(obj).val();
                var reg = /^[2|3][1|2]1[5|6|7|8]0[0-9]{5}$/;
                if (reg.test(value)) {
                    $(obj).parent().parent().removeClass('weui-cell_warn');
                    return true;
                }
                $(obj).parent().parent().addClass('weui-cell_warn');
                $tooltips.text("学号格式不正确");
                $tooltips.fadeIn(100);
                setTimeout(function () {
                    $tooltips.fadeOut(100);
                }, 2000);
                return false;
            case 'phone':
                var value = $(obj).val();
                var reg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])[0-9]{8}$/;
                if (reg.test(value)) {
                    $(obj).parent().parent().removeClass('weui-cell_warn');
                    return true;
                }
                $(obj).parent().parent().addClass('weui-cell_warn');
                $tooltips.text("手机号格式不正确");
                $tooltips.fadeIn(100);
                setTimeout(function () {
                    $tooltips.fadeOut(100);
                }, 2000);
                return false;
            case 'password':
                var value = $(obj).val();
                var reg = /^\w{6,18}$/;
                if (reg.test(value)) {
                    $(obj).parent().parent().removeClass('weui-cell_warn');
                    return true;
                }
                $(obj).parent().parent().addClass('weui-cell_warn');
                $tooltips.text("密码长度必须在6~18之间，只能包含字母、数字和下划线");
                $tooltips.fadeIn(100);
                setTimeout(function () {
                    $tooltips.fadeOut(100);
                }, 2000);
                return false;
            case 'check_password':
                var password1 = $("#password1").val();
                var password2 = $(obj).val();
                if (password1 === password2) {
                    $(obj).parent().parent().removeClass('weui-cell_warn');
                    $(obj).parent().next().hide();
                    return true;
                }
                $(obj).parent().parent().addClass('weui-cell_warn');
                $(obj).parent().next().show();
                return false;
            case 'checkCode':
                var checkCode = $(obj).val();
                var reg = /^[0-9]{6}$/;
                if (reg.test(checkCode)) {
                    $(obj).parent().parent().removeClass('weui-cell_warn');
                    return true;
                }
                $(obj).parent().parent().addClass('weui-cell_warn');
                return false;
            case 'imageCode':
                var imageCode = $(obj).val();
                var reg = /^[0-9]{4}$/;
                if (reg.test(imageCode)) {
                    $(obj).parent().parent().removeClass('weui-cell_warn');
                    return true;
                }
                $(obj).parent().parent().addClass('weui-cell_warn');
                return false;
        }
    }
</script>

</body>
</html>