<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
</head>
<body>

<div th:replace="common/common"></div>

<script type="text/javascript">
    // function toReturn() {
    //     var url = $("#url").val();
    //     if (typeof(url) == "undefined") {
    //         url = '';
    //     }
    //     window.location.href = server_host + "/" + url;
    // }
</script>

<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">错误</h2>
        <p class="weui-msg__desc" th:text="${msg}"></p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:history.go(-1)" class="weui-btn weui-btn_primary">返回</a>
        </p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:" class="weui-footer__link"></a>
            </p>
            <p class="weui-footer__text">Copyright &copy; 2018-2019 weui.io</p>
        </div>
    </div>
</div>

</body>
</html>