<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>toast</title>
</head>
<body>

<div id="toast" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p id="toast_info" class="weui-toast__content">已完成</p>
    </div>
</div>

<div id="loadingToast" style="display:none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content">数据加载中</p>
    </div>
</div>

</body>
</html>