<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布订单</title>
</head>

<div th:replace="common/common"></div>
<div th:replace="common/dialog"></div>

<script type="text/javascript">

    var item_count = 1;

    var deadline = new Date(new Date().getTime() + 3 * 60 * 60 * 1000);

    $(document).ready(function () {
        $("#addAddressDiv").hide();
        loadAddress();
        $('#showDatePicker').on('click', function () {
            weui.datePicker({
                start: new Date(),
                end: new Date().getFullYear() + 1,
                onConfirm: function (result) {
                    deadline.setFullYear(result[0].value);
                    deadline.setMonth(result[1].value - 1);
                    deadline.setDate(result[2].value);
                    setTimeout(showTimePicker, 500);
                },
                title: '选择截止日期'
            });
        });
        $('#deadline').val((deadline.getMonth() + 1) + '-' + deadline.getDate() + ' ' + deadline.getHours() + ':' + deadline.getMinutes());
    });

    function showTimePicker() {
        var hours = [];
        var minutes = [];
        for (var i = 0; i < 24; i++) {
            var hours_item = {};
            hours_item.label = ('' + i).length === 1 ? '0' + i : '' + i;
            hours_item.value = i;
            hours.push(hours_item);
        }
        for (var j = 0; j < 60; j++) {
            var minites_item = {};
            minites_item.label = ('' + j).length === 1 ? '0' + j : '' + j;
            minites_item.value = j;
            minutes.push(minites_item);
        }
        weui.picker(hours, minutes, {
            defaultValue: [deadline.getHours(), deadline.getMinutes()],
            onConfirm: function (result) {
                deadline.setHours(result[0].value);
                deadline.setMinutes(result[1].value);
                console.log(deadline.toLocaleString());
                $('#deadline').val((deadline.getMonth() + 1) + '-' + deadline.getDate() + ' ' + deadline.getHours() + ':' + deadline.getMinutes());
            },
            title: '选择截止时间'
        });
    }

    function nameDefault() {
        $("#orderName").val("不指定");
    }
    function loadAddress() {
        $("#address_div").empty();
        $.ajax({
            url: server_host + '/address/user/'+ $("#userId").val(),
            type: 'GET',
            dataType: 'json',
            data: {},
            async: false,
            success: function (obj) {
                var data = obj.data;
                if (data.hasOwnProperty('defaultAddressDTO')) {
                    var address = data.defaultAddressDTO;
                    $('#default_label').show();
                    $("#default_p1").text(address.addressName + '  ' + address.addressPhone);
                    $("#default_p2").text(address.addressString);
                    $("#default_address_id").val(address.addressId);
                }
                var addressDTOList = data.addressDTOList;
                $.each(addressDTOList, function (index, addressDTO) {
                    $("#address_div").append("<label class='weui-cell weui-check__label' for='x" + addressDTO.addressId + "'><div class='weui-cell__bd'>" +
                        "<p>" + addressDTO.addressName + "   " + addressDTO.addressPhone + "</p><p>" + addressDTO.addressString + "</p>" +
                        "</div><div class='weui-cell__ft'><input value='" + addressDTO.addressId +
                        "' type='radio' name='addressId' class='weui-check' id='x" + addressDTO.addressId + "'><span class='weui-icon-checked'></span></div></label>")
                })
            }
        })
    }
    function refreshData() {
        var amount = 0;
        $("p[id$='_amount']").each(function () {
            var id = $(this).attr('id').split('_')[0];
            var priceNode = $("#" + id + "_item_price");
            var price = parseFloat(priceNode.val());
            if (isNaN(price)) {
                price = 0;
            }
            priceNode.val(price.toFixed(2));
            var numberNode = $("#" + id + "_item_number");
            var number = parseInt(numberNode.val());
            if (isNaN(number)) {
                number = 1;
            }
            numberNode.val(number);
            var item_amount = price * number;
            amount += item_amount;
            $(this).text("￥" + item_amount.toFixed(2));
        });
        var freight = parseFloat($("#freight").val());
        if (isNaN(freight)) {
            freight = 0;
        }
        $("#amount").val("￥" + (freight + amount).toFixed(2))
    }
    function deleteItem(dom) {
        $(dom).parent().parent().remove();
        refreshData();
    }
    function addItem() {
        var id = item_count;
        item_count++;
        $("#item_parent").append("<div id=\"0_food_item\" class=\"weui-panel weui-panel_access\"><div class=\"weui-panel__hd\">物品项</div>" +
        "<div class=\"weui-panel__bd\"><div class=\"weui-cell\"><div class=\"weui-cell__hd\"><label class=\"weui-label\">名称</label></div>" +
        "<div class=\"weui-cell__bd\"><input id=\"" + id +"_item_name\" class=\"weui-input\" type=\"text\" placeholder=\"请输入名称\"/>" +
        "</div></div><div class=\"weui-cell\"><div class=\"weui-cell__hd\"><label class=\"weui-label\">单价</label></div><div class=\"weui-cell__bd\">" +
        "<input id=\"" + id + "_item_price\" onchange=\"refreshData()\" class=\"weui-input\" value=\"0\" type=\"number\" placeholder=\"请输入该项单价\">" +
        "</div></div><div class=\"weui-cell\"><div class=\"weui-cell__hd\"><label class=\"weui-label\">数量</label>" +
            "</div><div class=\"weui-cell__bd\"><input id=\"" + id +
            "_item_number\" onchange=\"refreshData()\" class=\"weui-input\" value=\"1\" type=\"tel\" placeholder=\"请输入该项数量\">" +
        "</div></div><div class=\"weui-cell\"><div class=\"weui-cell__hd\"><label class=\"weui-label\">小计</label></div>" +
            "<div class=\"weui-cell__bd\"><p id=\"" + id +"_amount\"></p></div></div></div><div class=\"weui-panel__ft\">" +
            "<a onclick=\"deleteItem(this)\" class=\"weui-cell weui-cell_access weui-cell_link\">" +
        "<div class=\"weui-cell__bd\">删除该项</div></a></div></div>");
    }
    function toPublish() {
        $("#dialog_recheck").show();
    }
    function publish() {
        $("#dialog_recheck").hide();
        var orderName = $("#orderName").val();
        var addressId = $("input:radio[name='addressId']:checked").val();
        var freight = $("#freight").val();
        var order_remark = $("#order_remark").val();
        if (orderName == null || orderName.length === 0) {
            $("#dialog_info").text("订单描述不能为空！");
            $("#dialog").show();
            return;
        }
        if (addressId == null || addressId.length === 0) {
            $("#dialog_info").text("订单地址不能为空！");
            $("#dialog").show();
            return;
        }
        if (freight == null || freight.length === 0) {
            freight = "0";
        }
        if (deadline.getTime() <= new Date().getTime()) {
            $("#dialog_info").text("截止时间必须晚于下单时间");
            $("#dialog").show();
            return;
        }
        if (order_remark.length > 200) {
            $("#dialog_info").text("备注长度不能超过200");
            $("#dialog").show();
            return;
        }
        var item_list = [];
        // 遍历item
        var isFinish = false;
        $("input[id$='_item_name']").each(function () {
            var id = $(this).attr('id').split('_')[0];
            var name = $(this).val();
            var price = $("#" + id + "_item_price").val();
            var number = $("#" + id + "_item_number").val();
            if (name === '' || price === '' || number <= 0) {
                $("#dialog_info").text("物品项输入的格式不正确！请重新输入！");
                $("#dialog").show();
                $(this).focus();
                isFinish = true;
                return;
            }
            var item = {itemName: name, number: number, price: price};
            item_list.push(item);
        });
        if (isFinish) {
            return;
        }
        $("#loadingToast").show();
        $.ajax({
            url: server_host + '/order',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                orderName: orderName,
                addressId: addressId,
                itemList: item_list,
                freight: freight,
                orderRemark: order_remark,
                deadline: deadline
             }),
            error: function () {
                $("#loadingToast").hide();
                $("#dialog_info").text("提交订单失败！请稍后再试");
                $("#dialog").show();
            },
            success: function (obj) {
                $("#loadingToast").hide();
                var data = obj.data;
                var orderId = data.orderId;
                $("#toast").show();
                setTimeout(function () {
                    $("#toast").hide();
                    window.location.href = server_host + "/order/" + orderId;
                }, 2000);
            }
        })
    }
</script>

<input id="userId" type="hidden" th:value="${userId}">

<div class="weui-cells__title">订单描述</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__bd">
            <input id="orderName" name="orderName" class="weui-input" type="text" placeholder="" value="不指定">
        </div>
        <div class="weui-cell__ft">
            <a href="javascript:nameDefault()" class="weui-vcode-btn">不指定</a>
        </div>
    </div>
</div>
<div class="weui-cells__tips">可指定店家或其他信息</div>

<div class="weui-cells__title">收货地址</div>
<div class="weui-cells weui-cells_radio">
    <label id="default_label" class="weui-cell weui-check__label" for="default_address_id" style="display:none">
        <div class="weui-cell__bd">
            <p id="default_p1"></p>
            <p id="default_p2"></p>
        </div>
        <div class="weui-cell__ft">
            <input id="default_address_id" type="radio" class="weui-check" name="addressId" checked="checked">
            <span class="weui-icon-checked"></span>
        </div>
    </label>
    <div id="address_div">
    </div>
</div>

<a th:href="@{/address}" class="weui-cell weui-cell_link">
    <div class="weui-cell__bd">管理收货地址</div>
</a>

<div id="item_parent">
    <div id="0_food_item" class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">物品项</div>
        <div class="weui-panel__bd">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">名称</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="0_item_name" class="weui-input" type="text" placeholder="请输入名称"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">单价</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="0_item_price" onchange="refreshData()" class="weui-input" value="0" type="number" placeholder="请输入该项单价">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">数量</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="0_item_number" onchange="refreshData()" class="weui-input" value="1" type="tel" placeholder="请输入该项数量">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">小计</label>
                </div>
                <div class="weui-cell__bd">
                    <p id="0_amount"></p>
                </div>
            </div>
        </div>
        <div class="weui-panel__ft">
            <a onclick="deleteItem(this)" class="weui-cell weui-cell_access weui-cell_link">
                <div class="weui-cell__bd">删除该项</div>
            </a>
        </div>
    </div>
</div>

<a href="javascript:" class="weui-cell weui-cell_link">
    <div class="weui-cell__bd" onclick="addItem()">添加新物品项</div>
</a>

<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cells_form">
        <div class="weui-cell__hd">
            <label class="weui-label">配送费</label>
        </div>
        <div class="weui-cell__bd">
            <input id="freight" onkeyup="refreshData()" value="0" class="weui-input" type="number" placeholder="请输入配送费">
        </div>
    </div>
</div>

<div class="weui-cells__title">总计</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">总金额</label>
        </div>
        <div class="weui-cell__bd">
            <input id="amount" class="weui-input" value="" readonly=""/>
        </div>
    </div>
</div>

<div class="weui-cells__title">订单截止时间</div>
<div class="weui-cell weui-cell">
    <div class="weui-cell__bd">
        <input id="deadline" class="weui-input" value="" readonly="">
    </div>
    <div class="weui-cell__ft">
        <a id="showDatePicker" href="javascript:" class="weui-btn weui-btn_default">选择时间</a>
    </div>
</div>

<div class="weui-cells__title">订单备注（可选）</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea id="order_remark" class="weui-textarea" placeholder="请输入订单备注" rows="3"></textarea>
        </div>
    </div>
</div>

<div class="weui-cells">
    <a href="javascript:toPublish()" class="weui-btn weui-btn_primary">下单</a>
    <a href="javascript:history.go(-1)" class="weui-btn weui-btn_default">返回</a>
</div>

</body>
</html>