<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我</title>
</head>
<body style="position: absolute;width: 100%;height: 100%;">

<div th:replace="common/common"></div>

<div class="weui-tab">
    <div class="weui-tab__panel">

        <div class="weui-cells__group weui-cells__group_form">
            <div class="weui-cells__title">个人信息</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_readonly">
                    <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                    <div class="weui-cell__bd">
                        <input th:value="${userDTO.getName()}" class="weui-input" value="" readonly="">
                    </div>
                </div>
                <div class="weui-cell weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
                    <div class="weui-cell__bd">
                        <input th:value="${userDTO.getStudentId()}" class="weui-input" value="" readonly="">
                    </div>
                </div>
                <div class="weui-cell weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">帐号状态</label></div>
                    <div class="weui-cell__bd">
                        <input th:value="${userDTO.getUserStatusEnum().getContent()}" class="weui-input" value="" readonly="">
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="/me/toVerification">
                <div class="weui-cell__bd">
                    <p>帐号认证</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <a class="weui-cell weui-cell_access" th:href="@{'/me/' + ${userDTO.getUserId()}}">
                <div class="weui-cell__bd">
                    <p>编辑个人信息</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <a class="weui-cell weui-cell_access" th:href="${'/me/toUpdatePassword'}">
                <div class="weui-cell__bd">
                    <p>修改密码</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <a class="weui-cell weui-cell_access" th:href="@{'/address'}">
                <div class="weui-cell__bd">
                    <p>管理收货地址</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
        </div>

        <div class="weui-cells">
            <a th:href="@{/logout}" class="weui-btn weui-btn_warn">注销</a>
        </div>
    </div>

    <div class="weui-tabbar">
        <a th:href="@{/index}" class="weui-tabbar__item">
            <img th:src="@{/images/find-off.png}" src="" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">浏览</p>
        </a>
        <a th:href="@{/order}" class="weui-tabbar__item">
            <img th:src="@{/images/order-off.png}" src="" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">订单</p>
        </a>
        <a class="weui-tabbar__item weui-bar__item_on">
            <img th:src="@{/images/me-on.png}" src="" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
</div>

</body>
</html>