<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body bgcolor="#F8F8F8">

<div th:replace="common/common"></div>
<div th:replace="common/dialog"></div>
<div th:replace="common/toast"></div>

<script type="text/javascript">
    function sub() {
        if (verification($("#studentId"), 'studentId') && verification($("#checkCode"), 'checkCode') && verification($("#password1"), 'password') && verification($("#password2"), 'check_password')) {
            $("#submit").click();
        } else {
            $("#dialog_info").text("你输入的信息有误，请重新输入");
            $("#dialog").show();
        }
    }
    function sendCode() {
        var studentIdNode = $("#studentId");
        if (verification(studentIdNode, 'studentId')) {
            $.ajax({
                url: server_host + "/sms/updatePassword",
                type: "GET",
                dataType: 'json',
                data: {
                    studentId: studentIdNode.val()
                },
                success: function () {
                    $("#toast_info").text("发送成功");
                    $("#toast").show();
                    setTimeout(function () {
                        $("#toast").hide();
                    }, 2000);
                    var getCodeNode = $("#get_code");
                    getCodeNode.text("不可发送");
                    getCodeNode.attr("href", "#");
                    setTimeout(function () {
                        getCodeNode.text("重新发送");
                        getCodeNode.attr("href", "javascript:sendCode()");
                    }, 60000);
                },
                error: function () {
                    $("#toast_info").text("发送失败，请稍后再试");
                    $("#toast").show();
                    setTimeout(function () {
                        $("#toast").hide();
                    }, 2000);
                }
            })
        } else {
            $("#toast_info").text("学号格式不正确！");
            $("#toast").show();
            setTimeout(function () {
                $("#toast").hide();
            }, 2000);
        }
    }
</script>

<div class="weui-cells__title"></div>
<form action="/me/updatePassword" method="post">
    <div class="weui-cells">
        <div th:if="${studentId == null}" class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">学号</label>
            </div>
            <div class="weui-cell__bd">
                <input onchange="verification(this, 'studentId')" class="weui-input" id="studentId" name="studentId" type="tel" placeholder="请输入学号"/>
            </div>
            <div class="weui-cell__ft" style="display: none">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div th:if="${studentId}">
            <div>
                <input id="studentId" name="studentId" th:value="${studentId}" type="hidden"/>
            </div>
        </div>
    </div>

    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">验证码</label>
            </div>
            <div class="weui-cell__bd">
                <input onchange="verification(this, 'checkCode')" class="weui-input" id="checkCode" name="checkCode" type="tel" placeholder="请输入验证码">
            </div>
            <div class="weui-cell__ft">
                <a id="get_code" href="javascript:sendCode()" class="weui-vcode-btn">获取验证码</a>
            </div>
        </div>
    </div>

    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">新密码</label>
            </div>
            <div class="weui-cell__bd">
                <input onchange="verification(this, 'password')" class="weui-input" id="password1" name="new_password" type="password" placeholder="请输入新密码">
            </div>
            <div class="weui-cell__ft" style="display: none">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label"></label>
            </div>
            <div class="weui-cell__bd">
                <input onchange="verification(this, 'check_password')" class="weui-input" id="password2" type="password" placeholder="请再次输入新密码">
            </div>
            <div class="weui-cell__ft" style="display: none">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>

    <button id="submit" type="submit" style="display: none"></button>
</form>

<div class="weui-cells__title"></div>
<a onclick="sub()" class="weui-btn weui-btn_primary">提交</a>
<a th:if="${studentId}" th:href="@{/me}" class="weui-btn weui-btn_default">返回</a>
<a th:if="${studentId == null}" th:href="@{/login}" class="weui-btn weui-btn_default">返回</a>

</body>
</html>