<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>

<div th:replace="common/common"></div>
<div th:replace="common/dialog"></div>
<div th:replace="common/toast"></div>

<script type="text/javascript">
    function sub() {
        if (verification($("#studentId"), 'studentId') && verification($("#checkCode"), 'checkCode') && verification($("#password1"), 'password') && verification($("#password2"), 'check_password')) {
            $("#submit").click();
        } else {
            $("#dialog_info").text("你输入的信息有误，请重新输入");
            $("#dialog").show();
        }
    }
    function sendCode() {
        var studentIdNode = $("#studentId");
        if (verification(studentIdNode, 'studentId')) {
            $.ajax({
                url: server_host + "/sms/updatePassword",
                type: "GET",
                dataType: 'json',
                data: {
                    studentId: studentIdNode.val()
                },
                success: function () {
                    $("#toast_info").text("发送成功");
                    $("#toast").fadeIn(100);
                    setTimeout(function () {
                        $("#toast").fadeOut(100);
                    }, 2000);
                    var getCodeNode = $("#get_code");
                    getCodeNode.text("不可发送");
                    getCodeNode.attr("href", "#");
                    setTimeout(function () {
                        getCodeNode.text("重新发送");
                        getCodeNode.attr("href", "javascript:sendCode()");
                    }, 60000);
                },
                error: function () {
                    $("#toast_info").text("发送失败，请稍后再试");
                    $("#toast").fadeIn(100);
                    setTimeout(function () {
                        $("#toast").fadeOut(100);
                    }, 2000);
                }
            })
        } else {
            $("#toast_info").text("学号格式不正确！");
            $("#toast").fadeIn(100);
            setTimeout(function () {
                $("#toast").fadeOut(100);
            }, 2000);
        }
    }
</script>

<div class="page" style="position: absolute;width: 100%;height: 100%;">
    <div class="weui-form">
        <div class="weui-form__text-area">
            <br>
        </div>
        <div class="weui-form__control-area">
            <div class="weui-cells__group weui-cells__group_form">
                <div class="weui-cells weui-cells_form">
                    <form action="/me/updatePassword" method="post">
                        <div th:if="${studentId == null}" class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">学号</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input onchange="verification(this, 'studentId')" class="weui-input" id="studentId" name="studentId" type="tel" placeholder="请输入学号"/>
                            </div>
                            <div class="weui-cell__ft" style="display: none">
                                <i class="weui-icon-warn"></i>
                            </div>
                        </div>
                        <div th:if="${studentId}">
                            <div>
                                <input id="studentId" name="studentId" th:value="${studentId}" type="hidden"/>
                            </div>
                        </div>

                        <div class="weui-cell weui-cell_vcode">
                            <div class="weui-cell__hd">
                                <label class="weui-label">验证码</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input onchange="verification(this, 'checkCode')" class="weui-input" id="checkCode" name="checkCode" type="tel" placeholder="请输入验证码">
                            </div>
                            <div class="weui-cell__ft">
                                <a id="get_code" href="javascript:sendCode()" class="weui-btn weui-btn_default weui-vcode-btn">获取验证码</a>
                            </div>
                        </div>

                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">新密码</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input onchange="verification(this, 'password')" class="weui-input" id="password1" name="new_password" type="password" placeholder="请输入新密码">
                            </div>
                            <div class="weui-cell__ft" style="display: none">
                                <i class="weui-icon-warn"></i>
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label"></label>
                            </div>
                            <div class="weui-cell__bd">
                                <input onchange="verification(this, 'check_password')" class="weui-input" id="password2" type="password" placeholder="请再次输入新密码">
                            </div>
                            <div class="weui-cell__ft" style="display: none">
                                <i class="weui-icon-warn"></i>
                            </div>
                        </div>
                        <button id="submit" type="submit" style="display: none"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="weui-form__opr-area">
            <a onclick="sub()" class="weui-btn weui-btn_primary">提交</a>
            <a href="javascript:history.go(-1)" class="weui-btn weui-btn_default">返回</a>
        </div>
    </div>
</div>

</body>
</html>