<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body bgcolor="#F8F8F8">

<div th:replace="common/common"></div>
<div th:replace="common/toast"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var flag = parseInt($("#signin_flag").val());
        if (flag === 1) {
            toSingUp();
        }
    });
    function toLogin() {
        $("#signup_tab").removeClass("weui-bar__item_on");
        $("#login_tab").addClass("weui-bar__item_on");
        $("#register").hide();
        $("#login").show();
    }
    function toSingUp() {
        $("#login_tab").removeClass("weui-bar__item_on");
        $("#signup_tab").addClass("weui-bar__item_on");
        $("#login").hide();
        $("#register").show();
    }
    function login() {
        $("#sub").click();
    }
    function register() {
        if (verification($("#studentId"), 'studentId') && verification($("#phone"), 'phone') && verification($("#password1"), 'password') && verification($("#password2"), 'check_password') && verification($("#checkCode"), 'checkCode')) {
            $("#reg").click();
        } else {
            $("#dialog_info").text("你输入的信息有误，请重新输入");
            $("#dialog").show();
        }
    }
    // 发送短信验证码
    function sendCode() {
        var phoneNode = $("#phone");
        if (verification(phoneNode, 'phone')) {
            $.ajax({
                url: server_host + "/sms/register",
                type: "GET",
                dataType: 'json',
                data: {
                    tel: phoneNode.val()
                },
                success: function () {
                    $("#toast_info").text("发送成功");
                    $("#toast").show();
                    setTimeout(function () {
                        $("#toast").hide();
                    }, 2000);
                    var getCodeNode = $("#get_code");
                    getCodeNode.text("不可发送");
                    getCodeNode.attr("href", "#");
                    setTimeout(function () {
                        getCodeNode.text("重新发送");
                        getCodeNode.attr("href", "javascript:sendCode()");
                    }, 60000);
                },
                error: function () {
                    $("#dialog_info").text("你的请求太频繁！请稍后再试");
                    $("#dialog").show();
                }
            });
        } else {
            $("#dialog_info").text("手机号格式不正确！");
            $("#dialog").show();
        }
    }
</script>

<input id="signin_flag" type="hidden" th:value="${session.loginFlag}" value="0">

<div class="weui-tab">
    <div class="weui-navbar">
        <div id="login_tab" onclick="toLogin()" class="weui-navbar__item weui-bar__item_on">
            登录
        </div>
        <div id="signup_tab" onclick="toSingUp()" class="weui-navbar__item">
            注册
        </div>
    </div>
    <div class="weui-tab__panel">
        <!--登录-->
        <div id="login">
            <form action="/login/form" method="post">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">学号</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input th:value="${session.studentId}" class="weui-input" name="studentId" type="number" pattern="[0-9]*" placeholder="请输入学号"/>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">密码</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" name="password" type="password" placeholder="请输入密码">
                        </div>
                    </div>
<!--                    <div class="weui-cell weui-cell_vcode">-->
<!--                        <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>-->
<!--                        <div class="weui-cell__bd">-->
<!--                            <input class="weui-input" type="number" placeholder="请输入验证码"/>-->
<!--                        </div>-->
<!--                        <div class="weui-cell__ft">-->
<!--                            <img class="weui-vcode-img" th:src="@{/}"/>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

                <button id="sub" type="submit" style="display: none"></button>
            </form>

            <label class="weui-agree">
                <span class="weui-agree__text">
                    <a href="/me/toUpdatePassword">找回密码</a>
                </span>
            </label>

            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:login()" id="showTooltips">登录</a>
            </div>
        </div>

        <!--注册-->
        <div id="register" style="display:none">
            <form action="/signup" method="post">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">学号</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input th:value="${session.studentId}" onchange="verification(this, 'studentId')" class="weui-input" id="studentId" name="studentId" type="tel" placeholder="请输入学号"/>
                        </div>
                        <div class="weui-cell__ft" style="display: none">
                            <i class="weui-icon-warn"></i>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">手机号</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input onchange="verification(this, 'phone')" class="weui-input" id="phone" name="phone" type="tel" placeholder="请输入手机号"/>
                        </div>
                        <div class="weui-cell__ft">
                            <a id="get_code" href="javascript:sendCode()" class="weui-vcode-btn">获取验证码</a>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">验证码</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input onchange="verification(this, 'checkCode')" class="weui-input" id="checkCode" name="checkCode" type="tel" placeholder="请输入验证码">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">密码</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input onchange="verification(this, 'password')" class="weui-input" id="password1" name="password" type="password" placeholder="请输入密码">
                        </div>
                        <div class="weui-cell__ft" style="display: none">
                            <i class="weui-icon-warn"></i>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label"></label>
                        </div>
                        <div class="weui-cell__bd">
                            <input onchange="verification(this, 'check_password')" class="weui-input" id="password2" type="password" placeholder="请再次输入密码">
                        </div>
                        <div class="weui-cell__ft" style="display: none">
                            <i class="weui-icon-warn"></i>
                        </div>
                    </div>
                </div>

                <button id="reg" type="submit" style="display: none"></button>
            </form>

            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:register()">注册</a>
            </div>

        </div>
    </div>
</div>

<div th:replace="common/dialog"></div>

</body>
</html>